allow thermal-engine sysfs:dir r_dir_perms;

r_dir_file(thermal-engine, sysfs_batteryinfo)

# LockScreen Charging
allow thermal-engine sysfs_batteryinfo:file write;
